* {
    box-sizing: border-box;
    font-family: 'Oxygen', sans-serif;
}

body {
    background-color: #191414;
    margin: 0;
}

.top-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
}

.home-button {
    display: flex;
    align-items: center;
}

.top-menu a {
    text-decoration: none;
}

.menu-logo {
    width: 50px;
    height: 50px;
}

.menu-heading {
    color: white;
    padding-left: 10px;
}

.menu {
    width: 70%;
    padding-top: 5px;
}

.menu-items {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.menu-items > li {
    margin: 0 10px;
}

.menu-items > li > a:hover {
    color: #1ed760;
}

.menu-items > li > a {
    text-decoration: none;
    color: white;
}

#home-button, #home-button:hover {
    color: white;
    font-weight: 700;
    background-color: #1db954;
    padding: 5px 15px;
    border-radius: 15px;
}

.separator {
    padding: 0 30px;
}

.separator > hr {
    margin-top: 0px;
    position: relative;
    bottom: 10px;
    border-top: 1px solid white;
    background-color: white;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1db954;
    padding: 20px 70px;
    /* opacity: 0.7; */
    color: white;
    font-size: 9px;
}

footer > h1 {
    font-size: 30px;

}

footer a, a:visited {
    text-decoration: none;
    color: white;
}

.main-content {
    margin: 40px 30px;
    display: flex;
    align-items: center;
}

.profile {
    width: 50%;
    text-align: center;
}

#profile-image {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.profile > h3 {
    color: white;
    text-align: center;
    text-transform: capitalize;
}

.profile-items {
    display: flex;
    color: white;
    font-size: 12px;
    list-style: none;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.profile-items > li {
    margin: 0 5px;
    width: 125px;
    padding: 5px;
    border: 1px solid #1db954;
    border-radius: 15px;
    background-color: #1db954;
    font-weight: 700;
}

.intro {
    width: 50%;
    color: white;
    font-size: 15px;
}

#welcome-message {
    color: #1db954;
    font-size: 32px;
    font-weight: 700;
}

#happy-listening-message {
    color: #1db954;
    font-size: 20px;
    font-weight: 500;
}

#my-profile-link > a, #my-profile-link > a:visited {
    text-decoration: none;
    color: white;
}

#my-profile-link p {
    width: 150px;
    margin: auto;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 12px;
    text-align: center;
    border: 2px solid #1db954;
}

#my-profile-link p:hover {
    background-color: #1ed760;
    font-weight: 700;
    border: 2px solid #1ed760;
}