* {
    box-sizing: border-box;
    font-family: 'Oxygen', sans-serif;
}

body {
    background-color: #191414;
    margin: 0;
}

.top-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
}

.home-button {
    display: flex;
    align-items: center;
}

.top-menu a {
    text-decoration: none;
}

.menu-logo {
    width: 50px;
    height: 50px;
}

.menu-heading {
    color: white;
    padding-left: 10px;
}

.menu {
    width: 70%;
    padding-top: 5px;
}

.menu-items {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.menu-items > li {
    margin: 0 10px;
}

.menu-items > li > a:hover {
    color: #1ed760;
}

.menu-items > li > a {
    text-decoration: none;
    color: white;
}

#new-picks-button, #new-picks-button:hover {
    color: white;
    font-weight: 700;
    background-color: #1db954;
    padding: 5px 15px;
    border-radius: 15px;
}

.separator {
    padding: 0 30px;
}

.separator > hr {
    margin-top: 0px;
    position: relative;
    bottom: 10px;
    border-top: 1px solid white;
    background-color: white;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1db954;
    padding: 20px 70px;
    /* opacity: 0.7; */
    color: white;
    font-size: 9px;
}

footer > h1 {
    font-size: 30px;

}

footer a, a:visited {
    text-decoration: none;
    color: white;
}

.main-content {
    margin: 40px 30px;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

a, a:visited {
    text-decoration: none;
}

.playlist {
    width: 18%;
    border: 3px solid #1ed760;
    padding: 20px 20px 0px 20px;
    border-radius: 15px;
    text-align: center;
}

.playlist:hover {
    background-color: #201c1c;
}

.playlist-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.playlist-details {
    color: white;
}

.playlist-name {
    font-size: 20px;
    margin-top: 5px;
}

.playlist-description {
    font-size: 12px;
    font-style: italic;
    margin-top: -10px;
}

.playlist-items {
    display: flex;
    color: white;
    font-size: 10px;
    list-style: none;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.playlist-items > li {
    margin: 0 5px;
    width: 125px;
    padding: 5px;
    border: 1px solid #1db954;
    border-radius: 15px;
    background-color: #1db954;
    font-weight: 700;
}

.playlist-songs-header {
    font-size: 12px;
    text-align: left;
    margin-top: 20px;
}

.playlist-songs-items {
    list-style: none;
    padding-left: 0;
    margin-top: -5px;
}

.playlist-song {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
}

.playlist-song > img {
    width: 40px;
    height: 40px;
}

.song-info {
    margin-left: 15px;
}

.song-name {
    font-size: 12px;
    font-weight: 700;
}

.song-artist {
    font-size: 9px;
    opacity: 0.8;
    margin-top: -10px;
}